mat-form-field{
  width: 100%;
}
 .mat-grid-tile{
  /* margin-left: 10%; */
  margin-right: 10%;
}

mat-grid-list{
  margin-top: 25px;
  margin-left: 10%;
  margin-right: 10%;
  /* background-color: blue; */
}
.myform{
  border-style: groove;
  border-radius: 5px;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 10px;
}
.example{
  /* background-color: chartreuse; */
  height: 100%;
  width: 100%;
}
