<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="paymentId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment ID </th>
      <td mat-cell *matCellDef="let row"> {{row.paymentId}} </td>
    </ng-container>

    <!-- Payment mode Column -->
    <ng-container matColumnDef="paymentMode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Mode</th>
      <td mat-cell *matCellDef="let row"> {{row.paymentMode}} </td>
    </ng-container>

    <!-- Payment mem Name Column -->
    <ng-container matColumnDef="paymentMemNm">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Member Name </th>
      <td mat-cell *matCellDef="let row"> {{row.paymentMemNm}} </td>
    </ng-container>

    <!-- Payment chit num Column -->
    <ng-container matColumnDef="paymentChitNum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Chit Number </th>
      <td mat-cell *matCellDef="let row" > {{row.paymentChitNum}} </td>
    </ng-container>

    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let row" >
        <a [routerLink]="['/Payments/edit', row.paymentId]" [state]=row>
          <mat-icon svgIcon="edit" aria-hidden="false" aria-label="Edit"></mat-icon>
        </a >
       </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

