<div class="container-fluid">
  <img src="assets/sample.jpg" title="Profile Photo" class="img-thumbnail mx-auto d-block" style="height: 200px;">
  <hr>
  <div class="table-responsive-md" >
  <table class=" table table-hover table-light " >
    <tbody>
    <tr>
      <td >User Id</td>
      <td >{{user.uid}}</td>
    </tr>
    <tr>
      <td>User Name</td>
      <td >{{user.uname}}</td>
    </tr>
    <tr>
      <td>User Category</td>
      <td >{{user.ucat}}</td>
    </tr>
    <tr>
      <td>Contact No</td>
      <td >923372872</td>
    </tr>
    <tr>
      <td>PAN NO</td>
      <td >BAFGH67829</td>
    </tr>
    <tr>
      <td>Active Chit Groups</td>
      <td > MP56,MP76,Mp67,fhsagdsjhdgsjdsajhjbsajdjsbds jsdjhsdsd hsdghasgduag shdghjsdnsdvh gsgdusag dsgusag sgdausg saudgsa sdguasdhgsdvhssjsdsjdjkdjkshdjsadhbasdhsabsadbshjbdashdbjhbashjsabdbshjdb
      </td>
    </tr>
    <tr>
      <td >Completed Chit Groups</td>
      <td >NAN</td>
    </tr>
  </tbody>
  </table>
</div>
</div>
